
<link rel="stylesheet" href="/css/header.css">
<header>
    <div class="left">
        <a href="http://localhost:8080/listings">
            <img src="/logos/nest_logo.jpeg" alt="Nest">
        </a>
        <p><a href="http://localhost:8080/"> Home </a></p>
        <a href="http://localhost:8080/listings/new">Add a Listing</a>
    </div>
    <div class="right">
        <button>Sign Up</button>
        <button>Login</button>
    </div>
</header>