
*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    font-weight:normal;
    color: black;
}
body{
    position: relative;
    padding-bottom: 5rem;
    margin-top: 6rem;
}
a{ text-decoration: none; }
button:active{transform: scale(.95);}
input:focus{ outline: none; }