<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nest</title>
    <link rel="stylesheet" href="/css/add-listing.css">
    <link rel="stylesheet" href="/css/general.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <h2>Add New Listing</h2>
        <form action="">
            <div>
                <h3>General Information</h3>
                <label for="title"> Title <br>
                    <input name="title" id="title" type="text", placeholder="Give a Title...">
                </label>
                <label for="description">Description <br>
                    <textarea name="description" id="description" cols="30" rows="10" placeholder="Give a Description..."></textarea>
                </label>
            </div>
            
            <div>
                <h3> Pricing and Location </h3>
                <label for="price">Rental Price (&#8364; /night) <br>
                    <input name="price" id="price" type="number" min="0" placeholder="Give a Price...">
                </label>
                <label for="location">Location <br>
                    <input name="location" id="location" type="text", placeholder="Add location...">
                </label>
                
                <label for="country">Country Name <br>
                    <% if (countryNames.length == 0) { %>
                        <input name="country" id="country" type="text", placeholder="Add country name...">
                    <% } else { %>
                    <select name="country" id="country">
                        <option value="" selected>Select Country...</option>
                        <% for (let countryName of countryNames) { %>
                            <option value=<%= countryName %>><%= countryName %></option>
                        <% } %>
                    </select>
                    <% } %>
                </label>
            </div>

            <div>
                <h3>Add Image</h3>
                <div class="img-display">
                    <img>
                </div>
                <label for="img-url">Image URL <br>
                    <input name="img" id="img-url" type="text", placeholder="Paste  image URL...">
                </label>
            </div>
            <button type="submit">Submit</button>
        </form>
    </main>


    <script src="/js/add-listing.js"></script>
</body>
</html>