
main{
    max-width: 50%;
    margin: auto;
}
h2{
    padding-bottom: 1rem;
    color: navy;
}
form{
    flex-direction: column;
    display: flex;
    gap: .7rem;
}


form > .container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.container .field {
    display: block;
    width: 100%;
}
.field > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.field small { color: red; }

#title{ width: 70%; }
#price { width: 30%; }
#title input { width: 100%;}
#price input { width: 100%;}


label {color: navy;}
input, textarea{
    box-sizing: border-box;
    border-radius: .5rem;
    width: 100%;
    padding: .3rem .5rem .3rem .8rem;
    border: 1px solid #524f4f;
    background-color: white;
    width: 100%;
}
input:focus, textarea:focus, select:focus {outline: none;}
select{
    border-radius: .5rem;
    padding: .3rem 1rem .3rem .8rem;
    border: 1px solid #524f4f;
    background-color: white;
    width: 100%;
}


#img-div{
    display: flex;
    flex-direction: row;
    margin-top: .6rem;
    padding: 0;
}
#img-display{
    background-color: white;
    overflow: hidden;
    height: 11.5rem;
    border-radius: 1rem;
    width: 40%;
    color: #524f4f;
    text-align: center;
    border: 1px solid #b9b9b9;
}
#img-display img{
    width: 100%;
    height: 100%;
}

#img-div > div:nth-child(2) { width: 60%; display: block; }   /* right side container */

ol, ul{                         /* ol and ul common styles */
    font-size: .8rem;
    overflow-y: auto;
    color: #524f4f;
    border: 1px solid #b9b9b9;
    border-radius: .5rem;
    padding: .5rem .5rem .5rem .5rem;
    margin-top: .6rem;
}
ol img, ul img{ height: 1.2rem; }
ol img:active, ul img:active { transform: scale(.8); }
ol::-webkit-scrollbar, ul::-webkit-scrollbar { width: .5rem; overflow: hidden; }
ol::-webkit-scrollbar-track, ul::-webkit-scrollbar-track { background: #ddd; border-radius: .5rem; }
ol::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb { background: #b9b9b9; border-radius: 3px; }

#img-div ol{ height: 6.5rem; padding-left: 1.5rem; }
#img-div ol li{ margin-bottom: .3rem }
#img-div ol > li > div{ display: flex; }
#img-div ol > li p{
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


#amenity-div{ display: block; }
#amenity-div ul{
    height: 5rem;
    gap: 1rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
#amenity-div ul li{
    display: flex;
    gap: .2rem;
    border: 1px solid #524f4f;
    border-radius: .5rem;
    padding: .1rem .3rem;
    flex-wrap: wrap;
    align-self: baseline;
}

form button{
    align-self: baseline;
    padding: .4rem .8rem;
    color: white;
    background-color: navy;
    border: none;
    border-radius: .5rem;
    font-weight: bold;
}