#listing-details-page .booking-section{
    position: relative;
    width: 50%;
}
#listing-details-page .booking-section form{
    border: 1px grey solid;
    position: sticky;
    justify-self: end;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.2rem 1.5rem 1.2rem 1.5rem;
}
#listing-details-page .booking-section .reservation-container{
    display: flex;
    flex-direction: column;
}
#listing-details-page .reservation-container *{
    padding: .3rem .4rem;
    border-radius: .4rem;
}
#listing-details-page .cost-container{ line-height: 2.5rem; }
#listing-details-page .cost-container div{
    display: flex;
    justify-content: space-between;
}

#listing-details-page form button{
    background-color: navy;
    color: white;
    font-weight: bold;
    padding: .5rem 0;
    border: none;
    border-radius: .5rem;
}