
#listing-details-page .img-section{
    overflow: hidden;
    border-radius: 1rem;
    height: 20rem;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
}

#listing-details-page .img-holder{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}


#listing-details-page .img-section img{
    width: 100%;
    height: 100%;
}