
main{
    display: flex;
    row-gap: 2rem;
    column-gap: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 2.5rem 0 2rem;
}

main .listing{
    cursor: pointer;
    padding-bottom: 2rem;
    border-radius: .5rem;
    transition: box-shadow .2s;
    width: 19rem;
}
main .listing:hover{ box-shadow: 1px 5px 10px rgba(0,0,0,0.15); }

main .listing img{
    height: 12rem;
    width: 100%;
    border-radius: 1rem;
}
main .listing .info-box{
    padding: .5rem 0 0 .2rem;
    line-height: 1.5rem;
    font-size: .8rem;
    padding-right: .7rem;
    padding-left: .7rem;
}
.listing #title{
    display: block;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .9rem;
}
.listing .info-box .info{
    display: flex;
    justify-content: space-between;
    opacity: .8;
}
.listing #location{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listing #price{ width: 50%; }