
<%- layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/css/header.css">

<header>
    <div class="left">
        <a href="http://localhost:8080/listings">
            <img src="/assets/nest_logo.jpeg" alt="Nest">
        </a>
        <a href="http://localhost:8080/listings"> Home </a>
        <a href="http://localhost:8080/listings/new">Add a Listing</a>
        <a href=""> My Listings </a>
        <a href=""> My Bookings </a>
    </div>
    <div class="right">
        <button id="signup-btn">Sign Up</button>
        <button id="login-btn">Login</button>
    </div>
</header>